<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!DOCTYPE html>

<html lang="en">
<head>
    <link th:src="@{static/css/topnavi.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="head">
    <div id="top_navi">
        <a th:href="@{/}"><img src="image\logo2.png" alt="logo" id="logo"></a>
        <ul id="menu">
            <li class="menuli"><a th:href="@{/}" class="menu">Home</a></li>
            <li class="menuli"><a th:href="@{/common/thema}" class="menu">테마</a></li>
            <li class="menuli"><a th:href="@{/booking}" class="menu">예약하기</a></li>
            <li class="menuli"><a th:href="@{/}" class="menu">커뮤니티</a></li>
            <li class="menuli"><a th:href="@{/}" class="menu">탈출후기</a></li>
            <li sec:authorize="isAuthenticated()" class="menuli">
                <a th:href="@{/user/myinfo}" class="menu" id="goToPage">마이페이지</a>
            </li>
        </ul>
        <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/user/join}">회원가입</a>
    </div>
</header>
</body>
</html>